<launch>
    <group ns="servogroup56">
    <node pkg="ftservoControl" type="singleServoControl" name="singleServoControl" output="screen" >
        <param name="id_up" type="int" value="6" />
        <param name="id_down" type="int" value="5" />
        <param name="source_frame" type="string" value="EstimationfromcamC" />
        <param name="target_frame" type="string" value="camC" />
        <param name="cam" type="string" value="camC" />
        <param name="serial" type="string" value="/dev/ttyUSB2" />
    </node>
    </group>
</launch>